body {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	overflow: hidden;
}
h4, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
small {
	font-size: 70%;
}
.clear {
	clear: both;
}
#text {
	width: 500px;
	height: 120px;
	padding-top: 10px;
	z-index: 0;
	border-style: solid;
	border-width: medium;
}
nav {
	position: fixed;
}
.sample { visibility: hidden; }
.view_area { position: relative; }
.hide{ display: none;}
.view_area .button_wrap button{ z-index: 999; }
@media all and (orientation:portrait) {
	nav {
		background-color: #5c5a5a;
		width: 100%;
		height: 2rem;
		bottom: 0;
	}
	nav > div {
		display: inline-block;
		width: 31%;
		text-align: center;
		border-left: 1px solid gray;
		padding: .5rem 0;
		cursor: pointer;
	}
	nav > div:nth-child(0) {
		border: none;
	}
	nav > div.selected {
		color: #3181f0;
	}
	
	.view_area .search_wrap{
		height: 15%;
		margin-bottom: 0.5rem;
	}
	.view_area .button_wrap {
		position: absolute;
		width: 30%;
		bottom: 3rem;
		right: 0;
	}
	.view_area .main_wrap {
		width: 100%;
		height: 75%;
		padding: 0;
	}
	.view_area button,
	.view_area input[type="text"] {
		width: 100%;
		font-size: inherit;
	}
	
	.js_list_view h4{
		margin: 0;
		padding: .5rem 1rem;
		border-bottom: #EEEEEE solid 2px;
	}
	.js_list_view .main_wrap > ul {
		padding: .5rem;
		cursor: pointer;
	}
	.js_list_view .main_wrap > ul > li {
		margin: .2rem 0;
		padding-top: .2rem;
		border-bottom: #EEEEEE solid 2px;
	}
	.js_list_view .main_wrap > ul > li > span {
		display: inline-block;
		float: right;
		padding-right: 1rem;
	}
	.js_list_view .main_wrap > ul > li > span[data-summary] {
		float: left;
		word-break: break-word;
	}
	.js_list_view li ul {
		list-style-type: disc;
		font-size: 80%;
		margin-left: 1.5rem;
		display: none;
	}
	.progress{
		position: relative;
		width: 100%;
		height: .3rem;
		background-color: #EEEEEE;
	}
	.progress.complate{
		background-color: inherit;
	}
	.progress > .bluebar {
		position: absolute;
		left: 0;
		width: 0%;
		height: .3rem;
		background-color: #3181f0;
	}
	.js_play_view #pano {
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
	}
	.js_play_view .js_info_display, 
	.js_play_view .js_speed_display {
		position: absolute;
		left: 0;
		height: 4rem;
		color: white;
		background-color: black;
		opacity: .6;
		z-index: 999;
	}
	.js_play_view .js_info_display {
		top: 0;
		width: 100%;
		white-space: nowrap;
		padding: .3rem 1rem;
	}
	.js_play_view .js_speed_display {
		bottom: 2rem;
		width: 45%;
	}
	.js_play_view .js_speed_display span{
		font-size: 3.5rem;
		padding: 0 1rem;
		display: inline-block;
	}
	.js_play_view .js_speed_display small{
		position: absolute;
		right: 1rem;
		bottom: 1rem;
	}
	/*
	.js_play_view .control_wrap {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 10%;
	}*/
}

@media all and (orientation:landscape) {
	nav {
		background-color: #5c5a5a;
		width: 4rem;
		height: 100%;
		top: 0;
		right: 0;
	}
	nav > div {
		padding: 5rem 0;
		text-align: center;
		border-top: 1px solid gray;
		cursor: pointer;
	}
	nav > div:nth-child(0) {
		border: none;
	}
	nav > div.selected {
		color: #3181f0;
	}
	
	.view_area .search_wrap{
		height: 15%;
		margin-bottom: 0.5rem;
	}
	.view_area .button_wrap {
		position: absolute;
		width: 20%;
		right: 5rem;
		bottom: 1rem;
	}
	.view_area .main_wrap {
		width: 100%;
		height: 85%;
	}
	.view_area button,
	.view_area input[type="text"] {
		width: 100%;
		font-size: inherit;
	}
	
	.js_list_view h4{
		margin: 0;
		padding: .5rem 1rem;
		border-bottom: #EEEEEE solid 2px;
	}
	.js_list_view .main_wrap > ul {
		padding: .5rem;
		cursor: pointer;
		width: 80%;
	}
	.js_list_view .main_wrap > ul > li {
		margin: .2rem 0;
		padding-top: .2rem;
		border-bottom: #EEEEEE solid 2px;
	}
	.js_list_view .main_wrap > ul > li > span {
		display: inline-block;
		float: right;
		padding-right: 1rem;
	}
	.js_list_view .main_wrap > ul > li > span[data-summary] {
		float: left;
		word-break: break-word;
	}
	.js_list_view li ul {
		list-style-type: disc;
		font-size: 80%;
		margin-left: 1.5rem;
		display: none;
	}
	.progress{
		position: relative;
		width: 100%;
		height: .3rem;
		background-color: #EEEEEE;
	}
	.progress.complate{
		background-color: inherit;
	}
	.progress > .bluebar {
		position: absolute;
		left: 0;
		width: 0%;
		height: .3rem;
		background-color: #3181f0;
	}
	.js_play_view #pano {
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
	}
	.js_play_view .js_info_display, 
	.js_play_view .js_speed_display {
		position: absolute;
		left: 0;
		height: 4rem;
		color: white;
		background-color: black;
		opacity: .6;
		z-index: 999;
	}
	.js_play_view .js_info_display {
		top: 0;
		width: 40%;
		white-space: nowrap;
		padding: .3rem 1rem;
	}
	.js_play_view .js_speed_display {
		bottom: 0;
		width: 15%;
	}
	.js_play_view .js_speed_display span{
		font-size: 3.5rem;
		padding: 0 1rem;
		display: inline-block;
	}
	.js_play_view .js_speed_display small{
		position: absolute;
		right: 1rem;
		bottom: 1rem;
	}
}

@media (max-width: 800px)
and (orientation: landscape) {
	nav > div {
		padding: 3rem 0;
	}
	.view_area .search_wrap{
		height: 20%;
	}
	.view_area .main_wrap {
		height: 80%;
	}
	.js_play_view .js_speed_display {
		width: 23%;
	}
}

@media (max-width: 680px)
and (orientation: landscape) {
	nav > div {
		padding: 2rem 0;
	}
	.view_area .search_wrap{
		height: 25%;
	}
	.view_area .main_wrap {
		height: 75%;
	}
	.js_play_view .js_speed_display {
		width: 28%;
	}
}